body{
    margin: 0;
}

.blocks{
    display: inline-block;
    background: #272822;
    color: #fff;
    margin: 20px 10px;
    padding: 10px;
}

#block4{
    display: inline-block;
    background: #ff0000;
    color: #fff;
    padding: 10px;
    position: absolute;
    
}

#inside{
    display: inline-block;
    background: #ff0000;
    color: #fff;
    width: 200px;
    height: 200px;
    padding: 10px;
}