@font-face{
    font-family: Acidic;
    src: url(../fonts/Acidic.otf) format(opentype);
}
.ad{
    text-align: center;
    margin-top: 200px;
    font-family: Acidic;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
}